repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: uv run ruff check --force-exclude
        language: system
        types: [ python ]

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format --force-exclude
        language: system
        types: [ python ]

      - id: pytest
        name: pytest
        entry: uv run pytest
        language: system
        types: [ python ]
        pass_filenames: false

