name: kivoll infrastructure (prod)

services:
  worker:
    image: ghcr.io/ignytex-labs/kivoll_worker:0.1.0
    restart: unless-stopped
    environment:
      # variables needed for wore
      - WORKER_APP_PASSWORD=workerpass
      - WORKER_MIGRATOR_PASSWORD=workermigratorpass
      - SCHEDULER_DB_PASSWORD=schedulerpass

      - DB_HOST=db:5432
      - DB_DRIVER=postgresql
    depends_on:
      db:
        condition: service_healthy

  db:
    image: ghcr.io/ignytex-labs/kivoll_db:0.1.0
    volumes:
      - pgdata:/var/lib/postgresql
    environment:
      # needs variables from all .env files
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=supersecret
      - POSTGRES_DB=postgres
      - WORKER_APP_PASSWORD=workerpass
      - WORKER_MIGRATOR_PASSWORD=workermigratorpass
      - SCHEDULER_DB_PASSWORD=schedulerpass
      - DB_HOST=localhost:5432
      - DB_DRIVER=postgresql
      - API_APP_PASSWORD=scraperpass
      - API_MIGRATOR_PASSWORD=schedulerpass
      - PREDICT_APP_PASSWORD=predictpass
      - PREDICT_MIGRATOR_PASSWORD=predictmigratorpass
    restart: unless-stopped

volumes:
  pgdata:
